
<div class="panel" zf-panel id="{{course.CID}}_panel" position="right" ng-repeat="course in courses">
	  <a href="#" zf-toggle="{{course.CID}}_panel" class="close-button">&times;</a>
	  <h1><strong>{{course.CID}}</strong></h1>
	  </br>
	  <h2><strong>{{course.name}}</strong></h2>
	  <div ng-repeat="section in course.section">
		  <br></br>
		  <br></br>
		  <p><strong>Section:</strong> {{section.section_number}}</p>
		  <p><Strong>Instructors: </Strong><a href="{{section.website}}">{{section.professor}}</a></p>
		  <p ng-if="section.honors"><Strong>Attributes:</Strong> Honors</p>
		  <table class="table" border="2" cellpadding="10" cellspacing="20">
			  <thead>
			  <tr>
			  	<th width="150">Type</th>
			  	<th width="150">Time</th>
			  	<th width="150">Days</th>
			  	<th width="150">Where</th>
			  	<th width="150">Capacity</th>
			  </tr>
				</thead>
				<tbody>
			  <tr ng-repeat="meeting in section.meeting_times">
				<td>{{meeting.type}}</td>
				<td>{{meeting.time}}</td>
				<td>{{meeting.days}}</td>
				<td>{{meeting.location}}</td>
				<td>{{course.registered}}/{{course.capacity}}</td>

 		 	</tr>
		</tbody>
		</table>
		<button class="button" href="#" title="Registration Successful" content="Successfully Registered for {{course.CID}}" color="success" autoclose="3000" zf-notify="main-notifications" ng-disabled="full(course.registered, course.capacity)" ng-click="register(course)">Register</button>
		<a class="button" href="#" title="Registration Successful" content="Now Tracking {{course.CID}}" color="success" autoclose="3000" zf-notify="main-notifications">Track</a>
	</div>
</div>
