<!-- Repeated for each course -->
<div zf-modal id="{{course.CID}}_desc" animation-in="slideInUp" animation-out="hingeOutFromMiddleY" ng-repeat="course in courses">
  <a zf-close="{{course.CID}}_desc" class="close-button">&times;</a>
    <p><strong>{{course.CID}} {{course.name}}</strong><p>
    <p><strong>Credit: {{course.credits}} credit hour(s)</strong></p>
    <p>{{course.description}}</p>
    <p ng-if="course.prequisite"><strong>Prerequisite: </strong>{{course.prequisite}}</p>
    <p ng-if="course.corequisite"><strong>Corequisite: </strong>{{course.prequisite}}</p>
</div>
