<!-- CSCE 181 -->
<div zf-modal id="CSCE 181_desc" animation-in="slideInUp" animation-out="hingeOutFromMiddleY">
  <a zf-close class="close-button">&times;</a>
    <p><strong>CSCE 181 Introduction to Computing</strong><p>
    <p><strong>Credit 1. 1 Lecture Hour.</strong></p>
    <p>
    Introduction to the broad field of computing; presentations from industry and academia about how computer science concepts are used in research and end products; includes a major writing component.
    </p>
</div>

<!-- CSCE 121 -->
<div zf-modal id="CSCE 121_desc" animation-in="slideInUp" animation-out="hingeOutFromMiddleY">
  <a zf-close class="close-button">&times;</a>
    <p><strong>CSCE 121 Introduction to Program Design and Concepts</strong><p>
    <p><strong>Credits 4. 3 Lecture Hours. 2 Lab Hours.</strong></p>
    <p>
    Computation to enhance problem solving abilities; computational thinking; understanding how people communicate with computers, how computing affects society; design and implementation of algorithms; data types, program control, iteration, functions, classes, and exceptions; understanding abstraction, modularity, code reuse, debugging, maintenance, and other aspects of software development; development and execution of programs.
    <strong>Prerequisite:</strong> Programming course (high school or college).
    </p>
</div>
