<div  ng-controller="degreeController">
    <div class="btn-group" role ="group" aria-label="...">
        <div id="testPanel" class="panel panel-default" ng-repeat="track in tracks">
            <div class="panel-heading" role="button" ng-click="open = !open">{{ track.name }}</div>
            <div class="panel-body" ng-show="open">
                <div class="button-group" ng-repeat="course in courses | filter: { track: track.name } : true">
                    <div class="panel-body" role="button" ng-click="cid = course[0].CID; showSection = !showSection">
                        {{ course[0].CID }} : {{ course[0].name }}
                        <div class="panel-body" ng-show="showSection">
                            <div class="button-group" ng-repeat="section in course | unique:'professor'">
                                <div class="panel-body" role="button" ng-click="">
                                    {{ section.professor }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel-body" role="button" onclick="sections(this.parentNode)">
                        Register
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

   