<div ng-controller="degreeController as vmDegree">
    <!---<div class="btn-group" role ="group" aria-label="..."> --->
    <div class = "row">
        <div class = "col-sm-2" ng-repeat="track in tracks" ng-controller="trackController as vmTrack">
            <div id="testPanel" class="panel panel-default" > <!----ng-repeat="track in tracks">----->
                <div class="panel-heading" role="button" id = '{{track.name}}' ng-click="vmTrack.panelBodyOpen = !vmTrack.panelBodyOpen; vmTrack.panelTwoOpen = false; vmTrack.panelThreeOpen = false" padding = "5px">{{ track.name }}

                </div>
                <div class="panel-body" ng-show="vmTrack.panelBodyOpen && !vmTrack.panelTwoOpen && !vmTrack.panelThreeOpen">
                    <div class="button-group" ng-repeat="course in vmDegree.courses | filter: { track: track.name } : true">
                        <div class="panel-body" role="button" ng-click = "vmTrack.selectedCourse = course; vmTrack.panelTwoOpen = true; vmTrack.panelThreeOpen = false">
                            {{ course.CID }} : {{ course.name }}
                            <!----<div class="panel-body" ng-show="showSection" >
                                <div class="button-group" ng-repeat="section in course | unique:'professor'">
                                    <div class="panel-body" role="button" ng-click = "vmTrack.panelBodyOpen = false; vmTrack.panelTwoOpen = true" >
                                        {{ section.professor }}
                                    </div>
                                </div>
                            </div>----->
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="vmTrack.panelBodyOpen && vmTrack.panelTwoOpen && !vmTrack.panelThreeOpen">
                    {{ vmTrack.selectedCourse.CID }} : {{ vmTrack.selectedCourse.name }}
                    <div class="panel-body">
                        <!-- TODO: pull from controller when we get actual data -->
                        Prerequisites:
                        <ul>
                            <li>CSCE 121</li>
                        </ul>
                        <!-- TODO: pull from controller when we get actual data -->
                        <!-- Make different color based on average: bg-success, bg-warning, bg-danger -->
                        Average GPA: <text class="bg-danger">2.8</text>
                        </br>
                        <button role="button" class="btn-primary" ng-click="vmTrack.panelTwoOpen = false; vmTrack.panelThreeOpen = true">
                            Register
                        </button>
                    </div>
                </div>
                <div class="panel-body" ng-show="vmTrack.panelBodyOpen && !vmTrack.panelTwoOpen && vmTrack.panelThreeOpen">
                    {{ vmTrack.selectedCourse.CID }} : {{ vmTrack.selectedCourse.name }}
                    <div class="button-group" ng-repeat="section in vmTrack.selectedCourse.section">
                        <div class="panel-body">
                            {{ section.section_number }} : {{ section.professor }}
                            <text class="text-danger" ng-show="section.honors">Honors Section</text>
                            <div class="panel-body" ng-repeat="times in section.meeting_times">
                              <text class="text-primary">{{ times.type }}</text>
                              </br>
                              {{ times.days }} @ {{ times.time }}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
