---
name: upper
url: /upper
---
<div class="grid-container">
  <h1>Welcome User!</h1>
  <p class="lead"></p>

<zf-accordion auto-open="false" collapsible="true" multi-open="true">
	</zf-accordion-item>
	  <div class="grid-block large-up-3">
			<div id="sidebar" class="medium-4 grid-block">

				<zf-accordion-item title="Computffsdfsder Sciencedadsad">
					<p>CSCE 441</p>
					<p>CSCE 443</p>
				</zf-accordion-item>
			</div>
		<div id="sidebar" class="medium-4 grid-block">	
			<zf-accordion-item title="Software">
				<p>CSCE 441</p>
				<p>CSCE 443</p>
			</zf-accordion-item>
		</div>
	</zf-accordion-item>
		<div id="sidebar" class="medium-4 grid-block">	
			<zf-accordion-item title="Systems">
				<p>CSCE 441</p>
				<p>CSCE 443</p>
			</zf-accordion-item>
		</div>
				<div id="sidebar" class="medium-12 grid-block">
			<zf-accordion-item title="Derps">
				<p>CSCE 441</p>
				<p>CSCE 443</p>
			</zf-accordion-item>
		</div>
</zf-accordion>

</div>
