---
name: upper
url: /upper
controller: upperController
---
<div class="grid-container">
  <h1>Welcome {{user.name}}!</h1>
  <p class="lead"></p>

  <!-- Modals -->
  <div ng-include src="'Partials/classDescriptions.html'"></div>
  <div ng-include src="'Partials/classTimes.html'"></div>

  <zf-accordion auto-open="false" collapsible="true" multi-open="true">
      <div class="grid-block large-up-3">
          <!-- Repeats for each track -->
          <div id="sidebar" class="medium-4 grid-block" ng-repeat="track in upperTracks">
              <zf-accordion-item title="{{track.name}}">
                  <div ng-repeat="course in courses | filter: { track: track.track } : true">
                      <div zf-action-sheet="">
                          <div zf-as-button="button" title="{{ course.CID }}"></div>
                          <div zf-as-content="" position="bottom">
                              <ul>
                                  <li><a zf-open="{{course.CID}}_desc">Description</a></li>
                                  <li><a zf-toggle="{{course.CID}}_panel">Registration times</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </zf-accordion-item>
          </div>
      </div>
  </zf-accordion>

</div>
